{% if replace %}
FILE_BOX_PATH={{ file_box_path | default('') }} # Path to the File Box tool

# Paths to save each level of the reduced data
{% endif %}
{% for stage, path in stage_folder_paths.items() %}
STAGE_{{ stage | upper }}_PATH={{ path }}
{% endfor %}
