CRDS_SERVER_URL=https://crds.stsci.edu
CRDS_PATH={{ crds_path | default('') }} # Path to the CRDS cache directory

START_STAGE={{ start_stage | default('') }} # Stage to start reduction, e.g., '1b'
DATA_ROOT_PATH={{ data_root_path | default('') }} # Root path for data storage

# Paths to save each level of the reduced data
{% for stage, path in stage_folder_paths.items() %}
STAGE_{{ stage | upper }}_PATH={{ path }}
{% endfor %}

FILE_NAVIGATOR_PATH={{ file_navigator_path | default('') }} # Path to the File Navigator tool