name: publish-ci

on:
  push:
    tags:
      - "v*.*.*"

  workflow_dispatch:


jobs:
  run:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    environment:
      name: pypi
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Build
        run: uv build
        
      - name: Publish
        run: uv publish