name: docs-ci

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
    deploy:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        
        - name: Configure Git
          run: |
            git config user.name "github-actions[bot]"
            git config user.email 41898282+github-actions[bot]@users.noreply.github.com
        
        - name: Install uv 
          uses: astral-sh/setup-uv@v7

        - name: Setup Python
          uses: actions/setup-python@v6
          with:
            python-version-file: "pyproject.toml"

        - name: Install Dev Dependencies
          run: uv sync --group docs
        
        - name: Build and Deploy Documentation
          run: uv run mkdocs gh-deploy --force

      